*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    background-color:#172a3a ;
}

.me{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 0;
    background-color:#172a3a;
    box-shadow: 4px 4px 4px  rgb(9, 24, 29);
}
.heading{
    color: #51e5ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700px;
    font-size: 50px;
}
.logo{
    width: 200px;
    cursor: pointer;
    margin-left: 10px;
}
.numberOfTask{
  color: #51e5ff;
  width: 200px;
}
.logo p{
    color:#51e5ff ;
    font-size: large;
    margin-top: 2px;
    margin-left: 7px;
}

.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
.btn img{
    width: auto;
    height: auto;
    margin-right: 10px;
}
.inputbar{
    margin-left: 400px;
    margin-top: 100px;
    

}
.inputbar input{
    background-color: #51e5ff;
    height: 50px;
    width: 400px;
    border-radius: 10px;
}
.inputbar button{
    background-color: #51e5ff;
    height: 50px; 
    width: 60px;
    color: #172a3a;
    border-radius: 10px;
    font-weight: bolder;
    font-size: large;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color:#172a3a ;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 350px;
    border: 2px solid #51e5ff;
    border-radius: 20px;
    
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 100px;
    padding: 10px;
    border-bottom: 2px solid #51e5ff;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 5px;
    margin-top: 4px;

  }
  .todoname{
    width: 400px;
    height: 50px;
    font-size: large;
    font-weight: bolder;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .delete-icon {
    cursor: pointer;
    width: 70px;
    height: 50px;
    border: none;

    margin-left: 50px;
    
  }
  .edit-icon {
    cursor: pointer;
    width: 50px;
    height: 40px;
    margin-left: 10px;
    border: none;

  }
  .spanimage{
    width: 50px;
    height: auto;
  }